<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Entity_history App</display-name>

  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>
      com.sun.jersey.spi.container.servlet.ServletContainer
    </servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.entity_history.api_pack</param-value>
    </init-param>

  </servlet>

  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <listener>
  <listener-class>
    com.entity_history.serveletContext.ServletContextClass
  </listener-class>
  </listener>
</web-app>

<!--<web-app>-->
  <!--<listener>-->
    <!--<listener-class>-->
      <!--com.entity_history.serveletContext.ServletContextClass-->
    <!--</listener-class>-->
  <!--</listener>-->
<!--</web-app>-->